extends layout

block content
    // Intro Section
    #intro.intro-section
      div
        p.textimgacc.white
          | BIENVENUE AU BUREAU
        p.textimgacc1.white
          | Trouvez le stage ou le job de vos rêves
        img.imageaccl.img-responsive(src='/images/job4students.jpg')
      br
      p.fonttextej4s.animated.pulse Job4Student
      .container
        .row
          form(method='post' name='search' autocomplete='Off' action='/search')
            .col-md-8
              input.form-control(type='text', placeholder='Votre Recherche ...',name="query")
            .col-md-2
              select.form-control(name='type')
               option(value='offers') Offre
               option(value='users') Candidats
            .col-md-2
              span.input-group-btn
                button.btn.btn-primary(type='submit') Rechercher!
        br
        #services.row
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
          .col-xs-6.col-md-4.imgserv
            a.thumbnail(href='#')
              img.img-responsive(src='/images/offreetserviceimg.jpg')
        br
        br
        br
        #about.container.about-section
          .row
            .col-lg-12
              .starter-template
                // VIDEO ENFIN JE NE SAIS PAS TROP
                video(src='/video/Teaser.webm', controls='')
                div(col-xs-6='', .col-md-4='')
        br
        br
        br
        br
        br
  
      #avistweet
        a.twitter-timeline(href='https://twitter.com/Giovv_aanni', data-widget-id='697420923536805890', data-chrome='nofooter noborders', width='300', height='600') Tweets de @Giovv_aanni
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        br
        br
        br
        br
        br
        br
        a.twitter-follow-button(href='https://twitter.com/Job4Student', data-show-count='false', data-size='large', data-chrome='nofooter noborders', width='300', height='600') Follow @Job4Student
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        br
        br
