extends layout

block content
    #intro.intro-section
      img.imageaccl.img-responsive(src="/images/job4students.jpg", alt="")
      br
      p.fonttextej4s.animated.pulse Job4Student
  
      .container
        #about.container.about-section
          .row
            .col-lg-12
              .starter-template
                // VIDEO ENFIN JE NE SAIS PAS TROP
                video(src='/video/video%20intro.mp4', controls='')
                div(col-xs-6='', .col-md-4='')
                  //- p.textabout
                  //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nam quidem accusamus, ullam, aliquam quaerat, aperiam esse aliquid ipsa minima asperiores numquam atque optio corporis blanditiis magnam, deleniti labore repellendus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ad magnam esse tenetur facere. Quibusdam id possimus, earum aperiam sunt quaerat, minus dolorum blanditiis sapiente dicta repellendus dignissimos quia facilis.
                  //-   br
                  //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor autem similique sequi, ipsa quasi in nesciunt nobis vero sint nemo qui molestiae et pariatur quisquam inventore fuga, repellendus laudantium ad!
        .row
          
          // class="img-responsive" et centrer en meme temps
          //- img.img-responsive.logotaille(src='/images/logo.jpg', alt='logo', title='Job for student logo')
        br
        br
        br
        br
        br
        #services.row
          .col-md-12
            .input-group
              input.form-control(type='text', placeholder='Votre Recherche ...')
              span.input-group-btn
                button.btn.btn-default(type='button') Rechercher! 
                =session
            // /input-group
          // /.col-md-12
        // /.row
        br
        .row
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
          .col-xs-6.col-md-4
            a.thumbnail(href='#')
              img(src='/images/602x339%20(15).jpg', alt='...')
              
      a.twitter-timeline(href='https://twitter.com/Giovv_aanni', data-widget-id='697420923536805890', data-chrome='nofooter noborders', width='300', height='600') Tweets de @Giovv_aanni
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          br
          br
          br
          br
          br
          br
          a.twitter-follow-button(href='https://twitter.com/Job4Student', data-show-count='false', data-size='large', data-chrome='nofooter noborders', width='300', height='600') Follow @Job4Student
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          
      if err
        if err.errEmail || err.errPassword
          script(src='/javascripts/index.js')
        else if err.errLogin
          script(src='/javascripts/index2.js')
