doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- a(href='/')  /
    //- a(href='/user/signup')  signup
    //- a(href='/headhunter')  headhunter
    //- a(href='/offer/new')  new offer
    //- a(href='/search')  search
    //- a(href='/test/new')  new test
    block content
