extends ../layout
block content
    br
    br
    br
    br
    br
    br
    h1 Search
    p Hi #{user.firstName} #{user.lastName}
    if session.authenticated
      if session.User.status == 'applicant' && session.User._id == user._id
        p Hi applicant
      else if session.User.status == 'recruiter' && session.User._id == user._id
        p Hi recruiter
        a(href='/offer/new') New offer
        

      
