extends ../layout
block content
    br
    br
    br
    br
    h1 Ajouter une offre
    .container  
      form(method='post' name='offer' autocomplete='Off' action='/offer/new')
        .input-group
          span.input-group-addon Intitulé
          input.form-control(type='text' placeholder="Titre de l'offre" name='title')
        br
        .input-group
          span.input-group-addon Niveau
          select.form-control(name='degree')
            option(value='Bac+5') Bac+5
            option(value='Bac+5') Bac+4
            option(value='Bac+3') Bac+3
            option(value='CAP') CAP
        br
        .input-group
          span.input-group-addon Durée
          input#email.form-control(type='text', name='duration', placeholder='La durée du contrat')
        br
        .input-group
          span.input-group-addon Type de contrat
          select.form-control(name='contract')
            option(value='CDI') CDI
            option(value='CDD') CDD
            option(value='Alternance') Alternance
            option(value='Stage') Stage
        br
        .input-group
          span.input-group-addon Description
          textarea.form-control(rows='30', cols='100' name='body')
        br
        br
        input(type='hidden', name='_csrf', value=csrfToken)
        button.btn.btn-primary(type='submit') Ajouter
