extends ../layout
block content
    br
    br
    br
    br
    br
    br
    br
    br
    .row.margintop
      .col-md-6
        b Poste
        br
        br
        b Chargé de communication - H/F
        br
        | Stage de 6 mois à presence
        br
        br
        br
        | Au sein de notre direction de la communication, vos missions s'articuleront
        br
        | autour de 4 principaux axes :
        br
        br
        br
        b - Communication	 corporate :
        br
        | Mise	à	jour,	gestion	des	contenus	 et	animation	du	 site	corporate et	de	l'intranet
        |     Gestion	de	la	charte	graphique	 (mise	à	jour	 cartes	de	visites,	signalétique,
        |     kakemonos...)
        br
        br
        br
        b - Communication	 interne	:
        br
        | Rédaction	des	news
        |     Mise	à	jour	de	l'annuaire	FCMS
        |     Gestion	des	différentes	demandes	internes
        |     Suivi	des	actualités	Groupe	 et	des	marques
        br
        br
        br
        b - Evènementiel	:
        br
        | Aide	à	l'organisation	des	évènements	internes	et	externes
        |     Mise	à	jour	 et	suivi	du	 calendrier	 évènementiel
        br
        br
        br
        b - Relations	Presse	:
        br
        | Mise	en	ligne	des	communiqués	 de	presse
        |     Mise	à	jour	des	revues	de	presse
        |     Veille	concurrentielle
      .col-md-6
        b Profil	:
        br
        | De	formation	 supérieure	Bac+4/Bac+5	à	dominante	 communication
        |     (Sciences	Po,	Celsa ou	équivalent),	vous	disposez	d'une	vraie	sensibilité	pour
        |     l'univers	du	web	et	des	médias.
        br
        br
        |     Vous	justifiez	idéalement	d'une	première	expérience	de	la	communication.
        |     Enthousiasme,	 excellentes	capacités	rédactionnelles	 et	relationnelles,	 réactivité
        |     sont	 des	atouts	nécessaires	pour	 réussir	dans	ce	poste.
        br
        br
        |     Nous	vous	proposons	 un	stage	avec	de	 réelles	responsabilités,	 enrichissant	 et
        |     opérationnel.
        br
        br
        |     Ce	stage,	d'une	durée	de	6	mois,	est	situé	au	cœur	de	 Paris,	derrière	l'Opéra
        |     Garnier.
        br
        br
        |     La	rémunération	 (80%	SMIC	max.)	est	à	définir	 en	fonction	 du	profil.
        
        #{offer._id}
