extends ../layout
block content
    br
    br
    br
    h1 Ajouter un Test
      form(method='post' name='signup' autocomplete='Off' action='/test/new')
        .input-group
          span.input-group-addon Nom
          input#pseudo.form-control(type='text', name='lastName', placeholder='Votre nom',value=lastName)
        br
        .input-group
          span.input-group-addon Prénom
          input#pseudo.form-control(type='text', name='firstName', placeholder='Votre prénom',value=firstName)
        br
        .input-group
          span.input-group-addon Email
          input#email.form-control(type='email', name='email', placeholder='Votre email')
        br
        .input-group
          span.input-group-addon Confirmation du mail
          input#email2.form-control(type='email', name='emailConfirmation', placeholder='Votre confirmation')
        br
        .input-group
          span.input-group-addon Mot de passe
          input#mdp.form-control(type='password', name='password', placeholder='Votre mot de passe')
        br
        .input-group
          span.input-group-addon Confirmation du mot de passe 
          input#mdp2.form-control(type='password', name='passwordConfirmation', placeholder='Confirmation')
        br
        br
        input(type='hidden', name='_csrf', value=csrfToken)
        button.btn.btn-primary(type='submit') Ajouter
